/* .messages {
  display: block;
  background-color: #fff;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 400;
  height: 80vh;
  width: 80vw;
  float:right;
}
.new-message {

}

.messages h2 {
  text-align: left;
}

.message-form {
  height: 50px;
  width: 100%;
  margin-bottom: 50px;
}
.message-content {
  height: 90%;
  width: 90%;
}
h3.username {
  float: left;
}
.sentAt {
  float: right;
}

input[type=text] {
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

input[type=submit] {
  padding: 5px 15px;
  background: #2a68a3;
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
}

#send-button {
  background-color: #cf6d17;
  color: white;
  border: 1px solid #e67e22;
}
*/
