.messages {
  display: block;
  background-color: #fff;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 400;
  height: 80vh;
  width: 80vw;
  float:right;
}

.messages h2 {
  text-align: left;
}

.messages .newMessage {
  background-color: #ccc;
  padding: 5px;
  margin-bottom: 0;
}

#send-button {
  background-color: #4d4d4d;
  color: white;
}
