.rooms {
  background-color: #ccc;
  text-align: left;
  float: left;
  padding-left: 10px;
  padding-bottom: 5px;
  height: 80vh;
  width: 20vw;
}

.rooms-list li {
  list-style: none;
  margin-left: 0;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  font-weight:400;
}
