.sign-in-out {
  display: inline-block;
  background-color: #ccc;
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 400;
  height: 20vh;
  width: 20vw;
  float: left;
}
